body {
    margin: 0px;
    padding: 0px;
    background-color: aqua;
}

div#logo {
    height: 100px;
    width: 100px;
}

#logo img {
    width: 100%;
    height: auto;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 15px;
    margin-bottom: 20px;
}

div#my creative services {
    height: 200px;
    width: 200px;
}

#my creative services img {
    width: 100%;
    height: auto;
}

div.side-by-side {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 25px;
}

nav{
    background-color: cadetblue;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 35px;
    list-style: none;
    margin: 0;
    padding: 0;
    transition: background 3s;
}

nav a {
    text-decoration: none;
    color: darkblue;
    font-weight: bold;
    display: block;
    padding: 8px 16px;
    background: transparent;
}

nav a:hover {
    background-color: cornflowerblue;
    color: darkorchid;
    border-radius: 4px;
}

nav a.current {
    background-color: darkorchid;
    color: cadetblue;
    border-radius: 8px;
}

#menu-toggle {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}

main{
    font-size: 5px;
}

p{
    color: red;
}

div#content {
    width: 200px;
    height: 50px;
}

#content img {
    width: 100%;
    height: auto;
}

header {
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h2 {
    flex-direction: column;
    align-items: center;
    text-align: center;
}

div.side-by-side {
    padding: 10px;
    column-gap: 10px;
}

.menu-icon {
    display: inline-block;
    cursor: pointer;
    font-weight: 700;
    font-size: 2rem;
    padding: 10px 16px;
    margin: 6px 10px;
    border-radius: 8px;
    color: darkblue;
    background: transparent;
}

nav ul {
    flex-direction: column;
    row-gap: 15px;
}

