* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    padding: 0px;
    background-color:rgb(192, 154, 228);
}
div#logo {
    height: 150px;
    width: 150px;
}
#logo img {
    height: 100%;
    width: auto;
}
header {
    display:flex;
    flex-direction: row;
    justify-content:center;
    column-gap: 15px;
    margin: 20px;bottom: 20px;
}
div#plant {
    height: 200px;
    width: 200px;
}
#plant img {
    height: 100%;
    width: auto;
}
div.sidebyside {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 25px;
}
nav {
    background-color: blueviolet;
}
div.contact-container {
    display: flex;
    flex-direction:row;
    justify-content: center;
    column-gap: 0px;
    margin: 25px
}
div.box1, div.box2 {
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px;
    margin: 0px;
    background-color: wheat;
}
div.join {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.calltoaction {
    display: flex;
    flex-direction: row;

}
.calltoaction img{
    width: 50%;
    margin: 10px 30px;
    padding: 5px;
    background-color: beige;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease, scale 0.3s ease;
}
.calltoaction p{
    width: 80%;
}
.services {
    display: flex;
    flex-direction: row-reverse;

}
.services img{
    width: 50%;
    margin: 10px 30px;
    padding: 5px;
    background-color: beige;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease, scale 0.3s ease;
}
.services p{
    width: 50%;
}
.testimonials {
    display: flex;
    flex-grow: inherit;

}
.testimonials img {
    width: 50%;
    margin: 10px 30px;
    padding: 5px;
    background-color: beige;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease, scale 0.3s ease;
}
nav ul {
    display: flex;
    flex-direction : row;
    justify-content: center;
    column-gap: 35px;
    list-style: none;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
}
nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: block;
    padding: 16px;
    background: transparent;
}
nav a:hover {
    background-color: white;
    color: blueviolet;
    border-radius: 8px;
}
nav a.current {
    background-color: white;
    color: blueviolet;
    border-radius: 8px;
}
#menu-toggle {
    /*display:none; could be used but will not be accesible to screen readers etc */
    position:absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip-path: inset(50%);
    white-space: nowrap;
}
.menu-icon {
    display: none; /*hidden by default, shown in media query*/
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
}
.gallery-item {
    background-color: wheat;
    padding: 8px;
    border-radius: 8px;
    text-align: center;
    
} 
.gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.gallery :hover, .gallery :focus, .gallery:active{
    background-color: purple;
    transition: all 0.3s ease;
    transform: scale(1.05);
    cursor: pointer;
}

.gallery-item img{
    width: 100%;
    height: auto;
    border-radius: 8px;
}

@media screen and (max-width: 450px) {
    /* CSS rules here will only apply when the screen width is 450px or less */
    header {
        flex-direction: column;
        align-items: center;
    }
    h2 {
        text-align: center;
    }
    div.sidebyside {
        padding: 10px;
        column-gap: 10px;
    }
    div.contact-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .box2 {
        text-align: center;
    }
    .menu-icon {
        display: inline-block;
        cursor: pointer;
        font-weight: 700;
        padding: 10px 16px;
        margin: 6px 10px;
        border-radius: 8px;
        color: rgb(233, 229, 237);
        background: transparent;
        /* user select none */
    }
    nav ul {
        flex-direction: column;
        row-gap: 15px;
    }
    h2, p {
        padding: 10px;
    }
    .calltoaction, .services,.testimonials {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    /*Collapsed menu - hide the menu items*/
    #menu-toggle:not(:checked) ~ ul {
        display: none;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
    }
    #menu-toggle:checked ~ ul {
        display: flex;
        /*max-height: 500px; Arbitrary large value to allow for expansion */
    }
}
