
body {
    margin: 0px;
    padding: 0px;
    background-color:lightblue;
}

div#logo {
    height: 100px;
    width: 100px;
}

#logo img {
    height: 100%;
    width: 100%;
}

header{
    display: flex;
    flex-direction:row;
    justify-content: center;
    column-gap: 10px;
    margin-bottom: 20px;
}

div.side-by-side{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 25px;
}

div#png {
    height: 150px;
    width: 150px;
}

#png img{
    height: 100%;
    width: 100%;

}

ul li{
    display: flex;
    flex-direction:row;
    justify-content:left;
    column-gap: 15px;
}

nav{
    background-color: yellowgreen;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
    transition: background 3s;
}

nav a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: block;
    padding: 8px 16px;
    background: transparent;
}

nav a:hover{
    background-color: blue;
    color: yellowgreen;
    border-radius: 4px;
}

nav a.current{
    background-color:rgb(6, 6, 14) ;
    color: lightyellow;
    border-radius: 8px;
}

#menu-toggle {
    /*display none; could be used but will not be accesible to sreen readers etc */
    position: absolute !important;  
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

.menu-icon {
    display: none; /* Hidden by default, shown in media query*/
}

  
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
    gap: 15px;
}
.gallery-item{
    background-color: yellowgreen;
    border-radius: 8px;
    padding: 8px;
    text-align: center;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow  0.3s ease, scale 0.3s ease;
}

.gallery-item:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px gray ;
    background-color: darkblue;
}

.gallery-item img{
    width: 100%;
    height: auto;
    border-radius: 8px;
}

  .section1 {
        height: 100px;
        width: 450px;
        column-gap: 20px;
        row-gap: 30px;
        display: flex;
        flex-direction: row;
        color: blue;
        font-size: small;
        padding-right: 300px;
     }   
     div#section1{
        height: 90px;
        width: 100px;
     }
     .image1{
        float: left;
     }
     .p{
        float: right;
     }
     #image1 {
        height: 100%;
        width: 100%;
     }

     .section2 {
        height: 100px;
        width: 450px;
        column-gap: 20px;
        row-gap: 30px;
        display: flex;
        flex-direction: row-reverse;
        color: blue;
        font-size: small;
        padding-right: 300px;
     }   
     div#section2{
        height: 90px;
        width: 100px;
     }
     
     #image2 {
        height: 100%;
        width: 100%;
     }

     .section3 {
        height: 100px;
        width: 450px;
        column-gap: 20px;
        row-gap: 30px;
        display: flex;
        flex-direction: row;
        color: blue;
        font-size: small;
        padding-right: 300px;
     }   
     div#section3{
        height: 90px;
        width: 100px;
     }
     
     #image3 {
        height: 100%;
        width: 100%;
     }

@media screen and (max-width : 450px){
    /*CSS rules here will only apply
    when screen width is 450px or less*/

    header{
    flex-direction: column;
    align-items:center;
    text-align: center;
    }

    div.side-by-side{
    padding: 10px;
    column-gap: 10px;
    } 

    .menu-icon{
        display: inline-block;
        cursor: pointer;
        font-weight: 700;
        font-size: 2rem;
        line-height: 1;
        padding: 10px 16px;
        margin: 6px 10px;
        border-radius: 8px;
        color: blue;
        background: transparent;
        /*user-select: none;*/

    }

    nav ul{
        flex-direction: column;
        row-gap: 15px;
    }
    
    h2,p{
        padding: 10px;
    }
    /*Colapped menu-hide when menu items */
    #menu-toggle:not(:checked) ~ ul {
        display: none;

       /* max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: max-height 0.3s ease, opacity 0.3s ease;*/

    }

    #menu-toggle:checked ~ul {
        display:flex;

        /* max-height: 500px; Arbitrary large value*/
    }

     
} 