body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(181, 206, 217);
}

div#logo {
    height: 100px;
    width: 100px;
}

#logo img {
    height: 100%;
    width: 100%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 15px;
    margin: 15px;
}

div#mind {
    height: 120px;
    width: 100px;
}

#mind img {
    height: 100%;
    width: 100%;
}


div.sidebyside {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 15px;
}

nav {
    background-color: yellow;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
    transition: background 3s;

}

nav a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
    display: block;
    padding: 8px 8px;
    background: transparent;
}

nav a:hover {
    background-color: blue;
    color: white;
    border-radius: 4px;

}

nav a.current {
    background-color: rgb(106, 106, 189);
    color: white;
    border-radius: 4px;
}

.menu-icon {
    display: none;
}

#menu-toggle {
    /* dispay:none; could be used instead*/
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
}

.gallery-item {
    background-color:lightgrey;
    padding:8px;
    border-radius: 8px;
    text-align: center;
    overflow:hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease, scale 0.3s ease;;

}

.gallery-item:hover, .gallery-item:focus, .gallery-item:active{
    transform: scale(1.2);
    box-shadow: 0 4px 8px rgb(71, 70, 70);
    background-color: darkgray;
}    

.gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}



div#flag{
    padding-left: 50px;
    height: 100px;
    width: 100px;
}

#flag img{
    height: 100%;
    width: 100%;
}

.side1{
    height: 300px;
    width: 400px;
    padding: 100px;
    border: 2px;
    border-color: black;
    border-style: solid;
    justify-content: center;
    display:inline;
    word-wrap: break-word;
}
.side2{
    height:300px;
    width: 200px;
    padding: 100px;
    border: 2px;
    border-style: solid;
    display:flex;
    flex-direction:column;
}

.atside{
    display: flex;
    flex-direction: row;
}

div#computer{
    height: 130px;
    width: 150px;
}

#computer img{
    height: 100%;
    width: 100%;
}

.row1{
    flex-shrink: 7;
    column-gap: 15px;
    display: flex;
    flex-direction: row;
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-top: 5px;
    align-items: center;

}

.serv{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    justify-self: start;
}

.serv ul{
    padding-top: 0px;
    margin-top: 0px;
    color: rgb(9, 243, 9);
    
}


div#stationery{
    height: 90px;
    width: 115px;
}

#stationery img{
    height: 100%;
    width: 100%;
}

.row2{
    flex-shrink: 3;
    column-gap: 15px;
    display: flex;
    flex-direction: row;
    color: red;
    font-size: large;
}

div#sports{
    height: 90px;
    width: 100px;
}

#sports img{
    height: 100%;
    width: 100%;
}

.row3{
    flex-shrink: 3;
    column-gap: 15px;
    display: flex;
    flex-direction: row;
    color: blue;
    font-size:x-small;
}


@media screen and (max-width: 450px) {

    header {
        flex-direction: column;
        align-items: center;
    }

    div.sidebyside {
        padding: 10px;
        column-gap: 10px;
    }

    .menu-icon {
        display: inline-block;
        cursor: pointer;
        font-weight: 700;
        font-size: 2rem;
        padding: 10px 16px;
        margin: 6px 10px;
        border-radius: 8px;
        color: blue;
        background: transparent;
    }

    nav ul {
        background-color:transparent;
        flex-direction: row;
        row-gap: 15px;
    }

    p {
        padding: 10px;
    }

    #menu-toggle:not(:checked)~ul {
        display: none;
    }

    .row1{
        
        transform: scale(.7);
        align-items: center;
        
    }
  
    .row2{
         transform: scale(.7);
         align-items: center;
    }

    .row3{
         transform: scale(.7);
         align-items: center;
    }

}