body {
    margin: 0px;
    padding: 0px;
    background-color:lightblue;
}

div#logo {
    height: 100px;
    width: 100px;
}

#logo img {
    height: 100%;
    width: 100%;
}

header{
    display: flex;
    flex-direction:row;
    justify-content: center;
    column-gap: 10px;
    margin-bottom: 20px;
}

div.side-by-side{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 25px;
}

div#png {
    height: 150px;
    width: 150px;
}

#png img{
    height: 100%;
    width: 100%;

}

ul li{
    display: flex;
    flex-direction:row;
    justify-content:left;
    column-gap: 15px;
}

nav{
    background-color: yellowgreen;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 10px;
    list-style: none;
}

nav a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: block;
    padding: 8px 16px;
    background: transparent;
}

nav a:hover{
    background-color: blue;
    color: yellowgreen;
    border-radius: 4px;
}

nav a.current{
    background-color:rgb(6, 6, 14) ;
    color: lightyellow;
    border-radius: 8px;
}