* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: lightsteelblue;
}

div#logo {
    height: 100px;
    width: 100px;
}

#logo img {
    height: auto;
    width: 100%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 15px;
    margin-bottom: 20px;
}

div#interests {
    height: 200px;
    width: 200px;
}

#interests img {
    width: 100%;
    height: auto;
}

div.side-by-side {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 25px;
}

nav {
    background: lightgoldenrodyellow;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 15px;
    list-style: none;
    margin: 0;
    padding: 0;
    transition: background 0.3s;
}

nav a {
    text-decoration: none;
    color: darkblue;
    font-weight: bold;
    display: block;
    padding: 8px 16px;
    background: transparent;
}

nav a:hover {
    background-color: darkblue;
    color: lightgoldenrodyellow;
    border-radius: 4px;
}

nav a.current {
    background-color: aqua;
    color: lightgoldenrodyellow;
    border-radius: 8px;
}


#menu-toggle {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}

.menu-icon {
    display: none;
    /* Hidden by default, shown in media query */
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 8px;
}

.gallery-item {
    background-color: bisque;
    padding: 8px;
    border-radius: 8px;
    text-align: center;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease, scale 0.3s ease;
}

.gallery-item:hover {
    transform: scale(1.05);
    box-shadow: 4px 6px 10px darkred
}

@media screen and (max-width: 450px) {
    /* CSS rules will only apply
    when the screen width is 450px or less */

    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    div.side-by-side {
        padding: 10px;
        column-gap: 15px;
    }

    .menu-icon {
        display: inline-block;
        cursor: pointer;
        font-weight: 700;
        font-size: 2rem;
        line-height: 1;
        padding: 10px 16px;
        margin: 6px 10px;
        border-radius: 8px;
        color: darkblue;
        background: transparent;
        /* user-select: none; */
    }

    nav ul {
        flex-direction: column;
        row-gap: 15px;
    }


    h2,
    p {
        padding: 10px;
    }

    /*Collapsed menu - hide the menu items */
    #menu-toggle:not(:checked)~ul {
        display: none;

        /*max-height: 0;
    opacity: 0;
    overflow: hidden; */
        transition: max-height 0.3s ease, opacity 0.3s ease;
    }

    #menu-toggle:checked~ul {
        display: flex;
        /* max-height: 500px; Arbitrary large value */
    }

    div ul {
        flex-direction: column;
        row-gap: 15px;
    }

    .container {
        padding: 15px;
        flex-wrap: wrap;
    }

}

.gallery-item img {
    height: auto;
    width: 100%;
    border-radius: 8px;
}

/*Asymmetrical layout for contacts */
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    /*flex-wrap: wrap;*/
}

#phone img {
    width: 200px;
    height: auto;
}

div #phone {
    display: flex;
    flex-direction: column;
    justify-items: center;
    border: solid;
    width: 70%;

}

#contact-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid;
    width: 30%;
}

.imgphone {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

