* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: blanchedalmond;
}

div#logo{
    height: 150px;
    width: 150px;
}

#logo img{
    width: 100%;
    height: auto;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 15px;
    margin-bottom: 30px;
}

/* Class Exercise*/

/*Modifying the image*/
div#abstract_ict{
    width: 150px;
    height: 150px;
    padding-left: 10px;
}

#abstract_ict img{
    width: 100%;
    height: auto;
}


ol#interests{
    width: 400px;
    height: auto;
}


/*Using flexbox to get image and list contents side by side.*/
div.flex_paragraph{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 15px;
}

nav{
    background-color:aquamarine;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 30px;
    list-style: none;
    margin: 0px;
    padding: 0px;
    transition: background 2s;
}

nav a{
    text-decoration: none;
    color: blue;
    display: block;
    padding: 10px 20px;
    background: transparent;
}

nav a:hover{
    background-color: blue;
    color: aquamarine;
    border-radius: 10px;
}


nav a.current{
    background-color: burlywood;
    color:forestgreen;
    font-weight: bold;
    border-radius: 10px;
}

/* Class Exercise for example page*/
div#content{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 150px;
    padding-left: 10px;
}

#content p{
    font-size: 16px;
}

#content p, h2{
    
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    margin-top: 20px;
    margin-bottom: 20px;
}

#content img{
    width: 100%;
    height: auto;
}

h2{
    font-size: 20px;
}

a.click_me{
    display: block;
    text-decoration: none;
    text-align: center;
    color: blue;
    padding: 10px 20px;
    background: gold;
    border-radius: 10%;
    margin: 80px 20px;
    width: 100px;
}

a.click_me:hover{
    background-color: blue;
    color: aquamarine;
    border-radius: 10px;
}

section.nested_section{
    padding: 20px;
    font-style: italic;
}

section#about{
    padding-top: 20px;
}

div.abstract_code_img{
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.abstract_code_img p{
    margin-top: 220px;
    padding-left: 20px;
}


#menu-toggle {
    /* display: none; still usuable but will not be accessible to screen readers.*/
    position: absolute !important;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}
.menu-icon {
    display: none; /* Hidden by default. Used in media query.*/
}

.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
}

.gallery-item {
    padding: 8px;
    background-color: chocolate;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease, scale 0.3s ease;
}

.gallery-item:hover, .gallery-item:focus, .gallery-item:active {
    background-color: gold;
    transform: scale(1.2);
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px black;
}

.gallery-item img{
    width: 100%;
    height: fit-content;
    border-radius: 8px;
}

/*Creating asymmetrical layout for contacts page.*/
.asymmetrical-layout{
    display: flex;
    flex-direction: row;
    /*flex-wrap: wrap;*/
    justify-content: flex-start;
    
}

.asymmetrical-layout .info-section{
    width: 70%;
    border-color: darkorange;
    border-style: solid;
    border-radius: 5%;
}

.asymmetrical-layout .contact-section{
    width: 30%;
    border-color: darkorange;
    border-style: solid;
    border-radius: 5%;
    margin: 5px;
}

.info-section{
    display: flex;
    flex-direction: column;
    padding: 7px 7px;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: 5px;
}

.info-section img{
    width: 30%;
    height: auto;
}

.info-section p{
    width: 50%;
    text-align: left;
}

.contact-section form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 90%;
    padding: 10px;
}

.contact-section form h1{
    font-weight: 900;
}

.contact-section form h1, label{
    font-family: 'Times New Roman', Times, serif;
    
}

.contact-section form button{
    width: 50%;
}

/*----------------------- Class exercise --> Creating z-shaped layout for services page ----------------- */

/* Main Container */
.z-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 10px;
}

/* First child container*/
.first-child{
    display: flex;
    flex-direction: row;
}

.first-child img{
    width: 30%;
    margin: 10px 30px;
    padding: 8px;
    background-color: lightgreen;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease, scale 0.3s ease;    
}

.first-child p{
    width: 70%;
}

/* Second child container*/
.second-child{
    display: flex;
    flex-direction: row-reverse;
}

.second-child img{
    /*width: 30%;*/
    flex-grow: 3;
    margin: 10px 30px;
    padding: 8px;
    background-color: lightgreen;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease, scale 0.3s ease;
}

.second-child p{
    /*width: 70%;*/
    flex-grow: 7;

}


/* Third child container */
.third-child{
    display: flex;
    flex-direction: row;
}

.third-child img{
    width: 30%;
    margin: 10px 30px;
    padding: 8px;
    background-color: lightgreen;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease, scale 0.3s ease;
}

.third-child p{
    width: 70%;
}



/*Responsive Web design --> screen styling for mobile devices*/

@media screen and (max-width: 450px) {
    /* CSS rules here only apply when screen width is 450px or less.*/
    header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 10px;
    }

    header h1{
        text-align: center;
    }

    h2, p {
        padding-left: 10px;
    }

    nav ul {
        flex-direction: column;
        row-gap: 15px;
    }

    div.flex_paragraph {
        padding: 10px;
        column-gap: 10px;
    }

    .menu-icon {
        display: inline-block;
        cursor: pointer;
        font-weight: 700;
        font-size: 1.5rem;
        padding: 10px 16px;
        margin: 6px 10px;
        border-radius: 8px;
        color: darkblue;
        background: transparent;
    }

    /* Collapsed menu --> hide menu items */
    #menu-toggle:not(:checked) ~ ul {
        display: none;
        /*max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease, opacity 0.3s ease;*/
    }

    #menu-toggle:checked ~ ul {
        display: flex;  
    }

    .gallery-item:active {
        background-color: gold;
        transform: scale(1.2);
        transition: background-color 0.3s ease;
    }

    /*Creating asymmetrical layout for contacts page.*/
    .asymmetrical-layout{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .asymmetrical-layout .info-section{
        width: auto;
    }

    .asymmetrical-layout .contact-section{
            width: auto;
        }

    .info-section{
        display: flex;
        flex-direction: column;
        padding: 5px 5px;
        align-items: center;
        justify-content: center;
    }

    /* Class exercise --> Z-shaped layout*/
    .z-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 10px 10px;
    }

    /* First child container*/
    .first-child{
        display: flex;
        flex-direction: column;
    }
    .first-child img{
        width: 70%;
        margin: 10px 30px;
    }

    .first-child p{
        width: 90%;  
    }

    /* Second child container*/
    .second-child{
        display: flex;
        flex-direction: column;
    }

    .second-child img{
        width: 70%;
        margin: 10px 30px;
    }

    .second-child p{
        width: 90%;
    }

    /* Third child container */
    .third-child{
        display: flex;
        flex-direction: column;
    }

    .third-child img{
        width: 70%;
        margin: 10px 30px;
    }

    .third-child p{
        width: 90%;
    }












}